body {
    background-color: #8ca3ed;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 10px 10px 10px;
    font-family: cursive;
    color: white;
}

.container__cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.cabecalhoPrincipal {
    background-color: #8ca3ed;
    padding: 20px 0;
}

.cabecalhoPrincipal-titulo {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.cabecalhoPrincipal-titulo a {
    text-decoration: none;
    color: inherit;
}

.cabecalhoPrincipal-nav-link {
    padding: 10px;
    margin-bottom: 10px;
    color: #555;
    background-color: #8ca3ed;
    text-decoration: none;
    transition: .5s;
    display: block;

    border-bottom: 1px solid #9799A6;
}

 .banner {
    position: relative;
}
.banner__titulo {
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    position:absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}
.banner__imagem {
    background-image: url("./imagens/capa1.png");
    width: 100%;
} 

.quemsou {
    text-align: center;
}

.quemsou__descricao {
    text-align: center;
    width: 100%;
}
.container2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.container__site {
    align-items: center;
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container__par {
    align-items: center;
    width: 50%;
}

.container__img {
    align-items: center;
    width: 50%;
}

.conteudoPrincipal-sites {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
    width: 100%;
}

.conteudoPrincipal-sites-link {
	width: 20vw;

}
.conteudoPrincipal__imagens {
    margin-bottom: 6rem;
}
.conteudoPrincipal {
	margin-top: 20px;
	margin-bottom: 20px;
}

.subtitulo {
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
	text-align: center;
}

.conteudoPrincipal-sites-link {
	height: 100px;
	text-align: center;
	margin: 1%;
	position: relative;
}

.conteudoPrincipal-sites-link a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.conteudoPrincipal-sites-link a:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px auto;
}

/*Mobile*/
@media (max-width:  768px) {
    .cabecalhoPrincipal .container {
		flex-direction: column;
	}

	.cabecalhoPrincipal-nav {
		flex-direction: column;
		align-items: initial;
		text-align: center;
	}

    .conteudoPrincipal-sites {
        flex-direction: column;
    }
    .conteudoPrincipal-sites-link {
        width: 100%;
    }
}