.header__container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header__container-filho{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__titulo {
    font-size: 18px;
    color: var(--cinza-escuro);
    margin-left: .5em;
}

.header__centro, .header__direita {
    margin-left: 2em;
    color: var(--cinza);
}

#cadastrar {
    background-color: var(--vinho);
    border-radius: 8px;
    width: 112px;
    text-align: center;
    padding: 12px;
    color: var(--branco);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.link2 {
    color: var(--branco);
}

@media screen and (max-width: 910px) {
    .header__centro{
        display: none;
        margin-left: 5%;
        margin-right: 5%;
    }
}