@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Montserrat:wght@100;300;400;700&family=Open+Sans:wght@300;400;700&display=swap');

/* @font-face {
    font-family: "Emblema One";
    src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
    url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf") ;
} */

body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: small;
}

h1, h2 {
    color: #c60;
    border-bottom: thin dotted #888888;
}

h1 {
    font-family: "Emblema One", sans-serif;
    font-size: 1.7em;
}

h2 {
    font-size: 1.3em;
    font-weight: normal;
}

blockquote {
    font-style: italic;
}

table {
    margin: 0 20px;
    border: thin solid black;
    caption-side: bottom;
    border-collapse: collapse;
}

td, th {
    border: thin dotted gray;
    padding: 5px;
}

th {
    background-color: #cc6600;
}

caption {
    font-style: italic;
    padding-top: 8px;
}

.tabela-centro {
    text-align: center;
}

.tabela-direita {
    text-align: right;
}

.cellcolor {
    background-color: #fcba7a;
}

.tabela-aninhada {
    background-color: white;
}

li {
    list-style-image: url(images/backpack.gif);
    padding-top: 5px;
    margin-left: 20px;
}