.receitas {
    background: #e5e5e5;
    display: flex;    /* elementos ficam alinhados ao lado do outro */
    flex-wrap: wrap;/* Quebra automaticamente os elementos de linha em coluna, quando fica muito espremidos ficam embaixo do outro */
}

@media screen and (min-width: 0) {
    .receitas  {
        padding: 5rem 0 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .receitas  {
        padding: 5rem 0 0 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .receitas {
        padding: 5rem 0 0 5rem;
    }
}